#######################
[client]
port            = 3306
socket          = /usr/local/mysql/mysql.sock
[mysqld]
log-slave-updates

socket          = /usr/local/mysql/mysql.sock
pid-file=/usr/local/mysql/mysql.pid
replicate_wild_ignore_table = mysql.%
replicate_wild_ignore_table = information_schema.%
replicate_wild_ignore_table = performance_schema.%
replicate_wild_ignore_table = test.%


character-set-server = utf8
server-id = 1

skip-external-locking
skip-name-resolve

sort_buffer_size = 8M
read_buffer_size = 4M
join_buffer_size = 8M
#thread_stack = 256K  
#table_cache = 128 
max_connections = 1000
max_connect_errors = 10000000
#wait_timeout = 100

log-error=/usr/local/mysql/error.log

slow_query_log=ON
slow_query_log_file=/usr/local/mysql/slow-log
long_query_time=3



log-bin=mysql-bin
binlog_format=mixed
binlog-ignore-db=mysql
#binlog-do-db=db1
expire-logs-days=30

innodb_buffer_pool_size = 6144M
innodb_additional_mem_pool_size = 32M

innodb_log_group_home_dir = /usr/local/mysql/data
innodb_log_files_in_group = 3
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M

innodb_write_io_threads = 4 
innodb_read_io_threads = 4
innodb_thread_concurrency = 8
innodb_flush_method = O_DSYNC
innodb_flush_log_at_trx_commit = 0
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
